.btn:hover {
    background: #000;
    color: white;
}

.btn {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}

label {
    transition: 0.5s;
}

label:hover {
    background: #000;
    color: white;
}

body {
    background: #f5e400;
}

.container table tbody td {
    background-color: rgb(255, 255, 255);
}

.container table thead tr th {
    background-color: rgb(255, 255, 255);
}